<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bruger.birdwatching">


    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!--MainActivity-->
        <activity android:name=".MainActivity" />

        <!--LoginActivity-->
        <activity
            android:name=".Authentication.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--MyObservationActivity-->
        <activity android:name=".ObservationsActivities.MyObservationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--BirdActivity-->
        <activity android:name=".BirdActivities.BirdsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--ItemListActivity-->
        <activity android:name=".BirdActivities.ItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BirdActivities.BirdsActivity" />
        </activity>

        <!--RegisterActivity-->
        <activity
            android:name=".Authentication.RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Authentication.LoginActivity" />
        </activity>

        <!--ObservationsItemListActivity-->
        <activity android:name=".ObservationsActivities.ObservationsItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ObservationsActivities.MyObservationActivity" />
        </activity>

        <!--AddObservationActivity-->
        <activity
            android:name=".ObservationsActivities.AddObservation"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ObservationsActivities.MyObservationActivity" />
        </activity>
    </application>
</manifest>